# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

DATABASE_URL=""
DATABASE_PREFIX=""
NEXT_PUBLIC_CV_LINK=""

UPSTASH_REDIS_REST_TOKEN=""
UPSTASH_REDIS_REST_URL=""

SMTP_GMAIL=""
GMAIL_APP_PASSWORD=""
MY_PERSONAL_GMAIL=""
DELAY_BETWEEN_SMTP_AND_IMAP=""
